<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Creation des objets  -->
    <bean id="dao" class="DAO.DaoImpl"></bean>
    <!-- injection via un setteur metier.setDao(dao) -->
    <bean id="metier" class="Metier.MetierImpl">
        <!-- property pour utiliser les setteurs  -->
        <!-- c'est obligatoire de respecter les noms -->
        <!-- <property name="Nom de la var dans la classe" ref="id de l'objet qu'on veux passer en parametre"></property> -->
        <property name="dao" ref="dao"></property>
    </bean>

</beans>